@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Todas as informações tratadas pelo site estão de acordo com a LGPD (Lei Geral de Proteção de Dados).</p>
<p>Ingressos só podem ser comprados por pessoas com mais de 18 anos.</p>