@model ProjIngresso.Models.Jogo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Jogo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TimeA" class="control-label"></label>
                <select asp-for="TimeA" id="TimeA" name="TimeA" asp-items="@Model.TimesA" class="form-control">
                    <option>@Model.TimeA.NomeTime</option>
                </select>
                <span asp-validation-for="TimeA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeB" class="control-label"></label>
                <select asp-for="TimeB" id="TimeB" name="TimeB" asp-items="@Model.TimesB" class="form-control">
                    <option>@Model.TimeB.NomeTime</option>
                </select>
                <span asp-validation-for="TimeB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeEstadio" class="control-label"></label>
                <input asp-for="NomeEstadio" class="form-control" />
                <span asp-validation-for="NomeEstadio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataJogo" class="control-label"></label>
                <input asp-for="DataJogo" class="form-control" />
                <span asp-validation-for="DataJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
