@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Este sistema destina-se a manter o cadastro de filmes, funcionários, clientes e ingressos do cinema.</p>
</div>
