@model ProjCineWeb.Model.Ingresso

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ingresso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <select asp-for="Cliente" id="Cliente" name="Cliente" asp-items="@Model.Clientes" class="form-control">
                    <option>@Model.Cliente.NomeCliente</option>
                </select>
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filme" class="control-label"></label>
                <select asp-for="Filme" id="Filme" name="Filme" asp-items="@Model.Filmes" class="form-control">
                    <option>@Model.Filme.NomeFilme</option>
                </select>
                <span asp-validation-for="Filme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
